body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

li {
  list-style-type: none;
}

form {
  margin: 15px auto;
}

.app-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 15px;
}

.app-content > .ui > .subtitle {
  text-align: center;
  background: linear-gradient(to right, #303F9F, #00BCD4);
  border-radius: 5px;
  padding: 10px;
}

.subtitle > .subtitle-text {
  font-family: 'Roboto', monospace;
  color: white;
}

.filter-container {
  margin: 15px;
}

.filter-container > .active {
  background-color: #FF6F00 !important;
}

.myGames-container {
  margin-top: 0 !important;
}

.myGames-list {
  padding: 15px 0;
}

.list-myGames {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.played {
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.played > .image > img {
  filter: contrast(0.5) !important;
   -webkit-filter: sepia(0.5);
   -moz-filter: sepia(0.5);
   -o-filter: sepia(0.5);
   -ms-filter: sepia(0.5);
}

@media only screen and (min-width: 1350px) {
  .myGames-container {
    width: 50%;
    margin-top: 0 !important;
  }
}
