body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

li {
  list-style-type: none;
}

.content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 15px;
}

.content > .ui > .subtitle {
  background: linear-gradient(to right, #303F9F, #00BCD4);
  border-radius: 5px;
  padding: 10px;
}

.subtitle-text {
  color: white !important;
}

.myGames-container {
  width: 50%;
  margin-top: 0 !important;
}

.myGames-list {
  padding: 15px 0;
}

.list-myGames {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.played {
  text-decoration: line-through;
  color: red;
}
